<%# if booking.response_message_read == false %>
  <!-- <div class="green-bar"></div>  -->
<%# end %>
    <div class="booking-card-grid">

        <%= render 'components/booking_cards/booking-card-request-info-and-message-sections', booking: booking %>

      <div class="booking-card-footer-right">
        <div class="mark-item-container">
        <!-- BUTTONS -->

        <% case status %>
        <% when :requested %>
          <% if booking.response_message_read %>
            <%= link_to "Item received", booking_path(booking, status: 'borrowing'), {class: 'btn btn-green btn-sm', method: :patch} %>
          <% else %>
            <button type="button" class="btn btn-green btn-sm" data-toggle="modal" data-target="<%="#rm_modal_#{booking.id}" %>">
              Read message
            </button>
          <% end %>
        <% when :borrowing %>
          <div class="mark-item-container">
            <%= link_to "Item returned", booking_path(booking, status: 'borrowed'), {class: 'btn btn-green btn-sm', method: :patch} %>
          </div>
        <% when :borrowed %>
          <button type="button" class="btn btn-green btn-sm" data-toggle="modal" data-target="<%="#lr_modal_#{booking.id}" %>">
            Leave a review
          </button>
        <% end %>
        <!-- / BUTTONS -->
        </div>
      </div>
      <%= render 'components/booking_cards/booking-card-image-container', booking: booking %>
      <%= render 'components/booking_cards/booking-card-footer', booking: booking %>
    </div>
  <!-- MODAL -->
  <%= render 'components/leave-review-modal', booking: booking %>
  <%= render 'components/read-message-modal', booking: booking %>
