<div id="my-items-cards">
  <div class="cards-area">
    <!-- Modal trigger -->
    <div class="item-card-grid add-item-pointer" type="button" data-target="#exampleModalCenter" data-toggle="modal">
      <div class="new-item-block">
        <i class="fas fa-plus-circle add-item-lrg"></i>
        <h6>Add an item</h6>
      </div>
    </div>

    <% current_user.items.order(created_at: :desc).each do |item| %>
    <%= link_to item_path(item) do %>
    <div class="item-card-grid">
      <div class="item-card-image-container">
        <!-- item photo -->
        <% unless item.photo_fake == nil %>
        <div class="item-card-image" style="background-image: url(<%= item.photo_fake %>)
        "></div>
        <% else %>
        <div class="item-card-image" style="background-image: url(<%= cl_image_path item.photo %>)
        "></div>
        <% end %>
      </div>
      <div class="item-card-name">
        <h5><%= item.name %></h5>
      </div>
      <div class="item-card-description">
        <p><%= item.description %></p>
      </div>
      <div class="item-card-footer">
        <div class="card-rating-box">
          <% if item.comb_rating.nil? %>
          <h6><i class="fas fa-star align-middle"></i> n/a</h6>
          <% else %>
          <h6><i class="fas fa-star align-middle"></i> <%= item.comb_rating.round(1) %></h6>
          <% end %>
        </div>
        <div class="card-credits-box">
          <h4>b</h4>
          <h6> <%= item.credits %></h6>
        </div>
      </div>
      <% link_to item_path(item) %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Add an item</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <%= simple_form_for [@item] do |f| %>
          <% if @item.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :credits %>
          <%= f.input :photo %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "add item", class: "btn btn-green" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
