<%= render 'shared/navbar' %>

<div class="wrapper">
  <div class="container">
    <div class="index-grid">
      <div class="user-area">
        <div class="user-image-container">
          <!-- <div class="dashboard-user-image"></div> -->
          <img src="https://images.unsplash.com/photo-1476493279419-b785d41e38d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80" class="dashboard-user-image">
        </div>
        <div class="user-info inline">
          <div class="dashboard-user-first-name">
            <h4><%= current_user.first_name %></h4>
          </div>
          <div class="dashboard-user-rating">
            <div class="dashboard-rating-block-container inline">
              <div class="dashboard-rating-block"><strong><%= current_user.rating %></strong></div>
            </div>
            <p>Your rating</p>
          </div>
        </div>
        <div class="user-credits">
          <h3><strong><%= current_user.credits %></strong></h3>
          <p>Credits</p>
        </div>
        <div class="user-stats inline">
          <div class="user-items-lent">
            <strong><%= current_user.bookings.count %></strong>
            <p>Items lent</p>
          </div>
          <div class="user-items-borrowed">
            <strong><%= current_user.bookings.count %></strong>
            <p>Items borrowed</p>
          </div>
        </div>
        <div class="buy-more-credits inline">
          <button type="button" class="btn btn-primary">Buy More Credits</button>
        </div>
      </div>

      <div class="list-area">
        <div class="tabs">
          <a class="tab active" href="#">
            <h3>350</h3>
            <p>Followers</p>
          </a>
          <a class="tab" href="#">
            <h3>456</h3>
            <p>Following</p>
          </a>
          <a class="tab" href="#">
            <h3>189</h3>
            <p>Upvoted</p>
          </a>
          <a class="tab" href="#">
            <h3>13</h3>
            <p>Submitted</p>
          </a>
        </div>
        <h2>Requested</h2>
        <% current_user.bookings.where(status: :requested).each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <% if booking.response_message_read == false %>
              <div class="green-bar"></div>
            <% end %>
            <div class="booking-card-grid">
              <div class="booking-card-request-info-section">
                <h4><%= "#{booking.item.user.first_name}'s #{booking.item.name}" %></h4>
                <h6><strong><%= "#{booking.start_date} - #{booking.end_date}" %></strong></h6>
              </div>
              <div class="booking-card-request-message-section">
                <strong>Your message:</strong>
                <p><%= booking.request_message %></p>
                <strong>Lender's Response:</strong>
                <p><%= booking.response_message %></p>
              </div>
              <div class="booking-card-footer-right">
                <div class="read-message-container">
                <% if booking.response_message_read == false %>
                  <%= link_to "Message Read", booking_path(booking, response_message_read: true), {class: 'btn btn-primary', method: :patch} %>
                <% end %>
                  <!-- <button type="button" class="btn btn-primary">Message Read</button> -->
                </div>
                <div class="mark-item-container">
                <%= link_to "Item received", booking_path(booking, status: 'borrowing'), {class: 'btn btn-success', method: :patch} %>
                </div>
              </div>
              <div class="booking-card-image-container">
                <% unless booking.item.user.photo_fake == nil %>
                  <div class="card-avatar avatar-image position-absolute z-index-ten" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.item.user.photo_fake %>)"></div>
                <% else %>
                  <div class="card-avatar position-absolute z-index-ten" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.item.user.photo %>)"></div>
                <% end %>
                  <!-- item photo -->
                <% unless booking.item.photo_fake == nil %>
                  <div class="booking-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.item.photo_fake %>)"></div>
                <% else %>
                  <div class="booking-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.item.photo %>)"></div>
                <% end %>
              </div>
              <div class="booking-card-footer">
                <div class="card-rating-box">
                  <h6><i class="fas fa-star"></i><%= booking.item.rating %></h6>
                </div>
                <div class="card-credits-box">
                  <h6><%= booking.item.credits %></h6>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <h2>Borrowing</h2>
        <% current_user.bookings.where(status: :borrowing).each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <div class="booking-card-grid">
              <div class="booking-card-request-info-section">
                <h4><%= "#{booking.item.user.first_name}'s #{booking.item.name}" %></h4>
                <h6><strong><%= "#{booking.start_date} - #{booking.end_date}" %></strong></h6>
              </div>
              <div class="booking-card-request-message-section">
                <strong>Your message:</strong>
                <p><%= booking.request_message %></p>
                <strong>Lender's Response:</strong>
                <p><%= booking.response_message %></p>
              </div>
              <div class="booking-card-footer-right">
                <div class="read-message-container">
                <% if booking.response_message_read == false %>
                  <%= link_to "Message Read", booking_path(booking, response_message_read: true), {class: 'btn btn-primary', method: :patch} %>
                <% end %>
                  <!-- <button type="button" class="btn btn-primary">Message Read</button> -->
                </div>
                <div class="mark-item-container">
                <%= link_to "Item received", booking_path(booking, status: 'borrowed'), {class: 'btn btn-success', method: :patch} %>
                </div>
              </div>
              <div class="booking-card-image-container">
                <% unless booking.item.user.photo_fake == nil %>
                  <div class="card-avatar avatar-image position-absolute z-index-ten" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.item.user.photo_fake %>)"></div>
                <% else %>
                  <div class="card-avatar position-absolute z-index-ten" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.item.user.photo %>)"></div>
                <% end %>
                  <!-- item photo -->
                <% unless booking.item.photo_fake == nil %>
                  <div class="booking-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.item.photo_fake %>)"></div>
                <% else %>
                  <div class="booking-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.item.photo %>)"></div>
                <% end %>
              </div>
              <div class="booking-card-footer">
                <div class="card-rating-box">
                  <h6><i class="fas fa-star"></i><%= booking.item.rating %></h6>
                </div>
                <div class="card-credits-box">
                  <h6><%= booking.item.credits %></h6>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <h2>Borrowed</h2>
        <% current_user.bookings.where(status: :borrowed).each do |booking| %>
          <div class="booking-card-grid">
            <div class="booking-card-request-info-section">
              <h4><%= "#{booking.item.user.first_name}'s #{booking.item.name}" %></h4>
              <h6><strong><%= "#{booking.start_date} - #{booking.end_date}" %></strong></h6>
            </div>
            <div class="booking-card-request-message-section">
              <strong>Your message:</strong>
              <p><%= booking.request_message %></p>
              <strong>Lender's Response:</strong>
              <p><%= booking.response_message %></p>
            </div>
            <div class="booking-card-footer-right">
              <div class="read-message-container">
              <% if booking.response_message_read == false %>
                <%= link_to "Message Read", booking_path(booking, response_message_read: true), {class: 'btn btn-primary', method: :patch} %>
              <% end %>
                <!-- <button type="button" class="btn btn-primary">Message Read</button> -->
              </div>
            </div>
            <div class="booking-card-image-container">
              <% unless booking.item.user.photo_fake == nil %>
                <div class="card-avatar avatar-image position-absolute z-index-ten" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.item.user.photo_fake %>)"></div>
              <% else %>
                <div class="card-avatar position-absolute z-index-ten" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.item.user.photo %>)"></div>
              <% end %>
                <!-- item photo -->
              <% unless booking.item.photo_fake == nil %>
                <div class="booking-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.item.photo_fake %>)"></div>
              <% else %>
                <div class="booking-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.item.photo %>)"></div>
              <% end %>
            </div>
            <div class="booking-card-footer">
              <div class="card-rating-box">
                <h6><i class="fas fa-star"></i><%= booking.item.rating %></h6>
              </div>
              <div class="card-credits-box">
                <h6><%= booking.item.credits %></h6>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>
