<%= render 'shared/navbar' %>

<div class="wrapper">
  <div class="container">
    <div class="dashboard-index-grid">
      <%= render 'user-area' %>
      <%= render 'tabs' %>

<!-- REQUESTED -->
      <div id="requested-booking-cards">
        <% current_user.bookings.where(status: :requested).order(created_at: :desc).each do |booking| %>
          <%= render 'booking', booking: booking %>
        <% end %>
      </div>

<!-- BORROWING -->
      <div id="borrowing-booking-cards">
        <% current_user.bookings.where(status: :borrowing).order(created_at: :desc).each do |booking| %>
          <%= render 'booking', booking: booking %>
        <% end %>
      </div>

<!-- BORROWED -->
        <div id="borrowed-booking-cards">
          <% current_user.bookings.where(status: :borrowed).order(created_at: :desc).each do |booking| %>
            <%= render 'booking', booking: booking %>
          <% end %>
        </div>

<!-- MY ITEMS -->
        <%= render 'my-items' %>

      </div>
    </div>
  </div>

<% content_for :title, "Borrowbox - My Dashboard" %>
