<h3><%= current_user.first_name %></h3>

<p><%= current_user.rating %></p>
<p>Your rating</p>

<p><%= current_user.credits %></p>
<p>Credits</p>

<p><%= @user_bookings %></p>
<p>Items lent</p>

<p><%= current_user.bookings.count %></p>
<p>Items borrowed</p>

<button type="submit" class="btn btn-primary">Buy 1000 more credits</button>


<!-- REQUESTED -->

<h2>Requested</h2>
<h3><%= current_user.bookings.where(status: :requested).count %></h3>
<% current_user.bookings.where(status: :requested).each do |booking| %>
  <p><%= "Item: #{booking.item.name}" %></p>
  <p><%= "User: #{booking.item.user.first_name} #{booking.item.user.last_name}" %></p>
  <p><strong>Your message:</strong></p>
  <p><%= booking.request_message %></p>
  <p><strong>Their message:</strong></p>
  <p><%= booking.response_message %></p>
  <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
  <% if booking.response_message_read == false %>
    <i class="fas fa-comment"></i>
  <% end %>
  <%= link_to "Item received", booking_path(booking, status: 'borrowing'), method: :patch %>

<% end %>

<!-- BORROWING -->

<h2>Borrowing</h2>
<h3><%= current_user.bookings.where(status: :borrowing).count %></h3>
<% current_user.bookings.where(status: :borrowing).each do |booking| %>
  <p>Item:<%= booking.item.name %></p>
  <p>User:<%= "#{booking.item.user.first_name} #{booking.item.user.last_name}" %></p>
  <p><strong>Your message:</strong></p>
  <p><%= booking.request_message %></p>
  <p><strong>Their message:</strong></p>
  <p><%= booking.response_message %></p>
  <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
    <% if booking.response_message_read == false %>
    <i class="fas fa-comment"></i>
  <% end %>
  <%= link_to "Item returned", booking_path(booking, status: 'borrowed'), method: :patch %>
<% end %>

<!-- BORROWED -->

<h2>Borrowed</h2>
<h3><%= current_user.bookings.where(status: :borrowed).count %></h3>
<% current_user.bookings.where(status: :borrowed).each do |booking| %>
  <p><%= "Item: #{booking.item.name}" %></p>
  <p><%= "User: #{booking.item.user.first_name} #{booking.item.user.last_name}" %></p>
  <p><strong>Your message:</strong></p>
  <p><%= booking.request_message %></p>
  <p><strong>Their message:</strong></p>
  <p><%= booking.response_message %></p>
  <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
<% end %>

<h2>Lending</h2> <h3>35</h3>


<!-- <div class="tabs">
  <a class="tab active" href="#">
    <h3>350</h3>
    <p>Requested</p>
  </a>
  <a class="tab" href="#">
    <h3>456</h3>
    <p>Borrowing</p>
  </a>
  <a class="tab" href="#">
    <h3>189</h3>
    <p>Borrowed</p>
  </a>
  <a class="tab" href="#">
    <h3>13</h3>
    <p>Lending</p>
  </a>
</div> -->

