<div class="modal fade" id="<%="rm_modal_#{booking.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-xs-12">
          <h5 class="modal-title" id="<%="#modal_#{booking.id}" %>"><%= "#{booking.item.user.first_name} responded to your request" %></h5>
        </div>
      </div>
      <div class="col-xs-12" style="margin:30px 0px 20px 0px;">
        <div class="col-xs-12">
          <p><%= booking.response_message %></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-beige btn-sm" data-dismiss="modal" id="modal-dismiss-button">Close</button>
        <%= link_to "Message Read", booking_path(booking, response_message_read: true), {class: 'btn btn-green btn-sm', method: :patch, remote: true} %>
      </div>
    </div>
  </div>
</div>
