<div class="wrapper">
  <div class="container">
    <div class="index-grid">
      <div class="user-area">
        <div class="user-image-container">
          <!-- <div class="dashboard-user-image"></div> -->
          <img src="https://images.unsplash.com/photo-1476493279419-b785d41e38d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80" class="dashboard-user-image">
        </div>
        <div class="user-info inline">
          <div class="dashboard-user-first-name">
            <h4>Ben Dover</h4>
          </div>
          <div class="dashboard-user-rating">
            <div class="dashboard-rating-block-container inline">
              <div class="dashboard-rating-block"><strong>8.5</strong></div>
            </div>
            <p>Your rating</p>
          </div>
        </div>
        <div class="user-credits">
          <h3><strong>18,000</strong></h3>
          <p>Credits</p>
        </div>
        <div class="user-stats inline">
          <div class="user-items-lent">
            <strong>136</strong>
            <p>Items lent</p>
          </div>
          <div class="user-items-borrowed">
            <strong>136</strong>
            <p>Items borrowed</p>
          </div>
        </div>
        <div class="buy-more-credits inline">
          <button type="button" class="btn btn-primary">Buy More Credits</button>
        </div>

      </div>
      <div class="list-area">


        <div class="booking-card-grid">
          <div class="booking-card-request-info-section">
            <h4>Shannon's Drill</h4>
            <h6><strong>21st December - 24th December</strong></h6>
          </div>
          <div class="booking-card-request-message-section">
            <strong>Your message:</strong>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
          <div class="booking-card-footer-right">
            <div class="read-message-container">
              <button type="button" class="btn btn-primary">Read message</button>
            </div>
            <div class="mark-item-container">
            <button type="button" class="btn btn-primary">Item received</button>
            </div>
          </div>
          <div class="booking-card-image-container">
            <div class="card-avatar position-absolute z-index-ten"></div>
            <div class="booking-card-image"></div>
          </div>
          <div class="booking-card-footer">
            <div class="card-rating-box">
              <h6><i class="fas fa-star"></i>8.5</h6>
            </div>
            <div class="card-credits-box">
              <h6>350</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<button type="submit" class="btn btn-primary">Buy 1000 more credits</button>


<!-- MODAL TEST -->

<!-- Button trigger modal -->
<i class="fas fa-comment" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></i>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="inner-container">
        <div class="popup-row-1">
          <div class="popup-row-1-title-lpadding">
            <h3>Borrow Shannon's <br/> Drill </h3>
          </div>
          <div class="popup-profile-picture"></div>
        </div>
        <div class="popup-row-2">
          <div class="popup-message-container">
            <div class="message-content">Message content goes here.</div>
          </div>
        </div>
        <div class="popup-row-3">
          <button type="button" class="popup-btn-OK" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- REQUESTED -->

<h2>Requested</h2>
<h3><%= current_user.bookings.where(status: :requested).count %></h3>
<% current_user.bookings.where(status: :requested).each do |booking| %>
  <p><%= "Booking ID: #{booking.id}" %></p>
  <p><%= "Item: #{booking.item.name}" %></p>
  <p><%= "User: #{booking.item.user.first_name} #{booking.item.user.last_name}" %></p>
  <p><strong>Your message:</strong></p>
  <p><%= booking.request_message %></p>
  <p><strong>Their message:</strong></p>
  <p><%= booking.response_message %></p>
  <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
  <% if booking.response_message_read == false %>
    <i class="fas fa-comment"></i>
  <% end %>
  <%= link_to "Item received", booking_path(booking, status: 'borrowing'), {class: 'btn btn-success', method: :patch} %>
  <%= link_to "MESSAGE READ", booking_path(booking, response_message_read: true), {class: 'btn btn-primary', method: :patch} %>
<% end %>

<!-- BORROWING -->

<h2>Borrowing</h2>
<h3><%= current_user.bookings.where(status: :borrowing).count %></h3>
<% current_user.bookings.where(status: :borrowing).each do |booking| %>
  <p><%= "Booking ID: #{booking.id}" %></p>
  <p>Item:<%= booking.item.name %></p>
  <p>User:<%= "#{booking.item.user.first_name} #{booking.item.user.last_name}" %></p>
  <p><strong>Your message:</strong></p>
  <p><%= booking.request_message %></p>
  <p><strong>Their message:</strong></p>
  <p><%= booking.response_message %></p>
  <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
    <% if booking.response_message_read == false %>
    <i class="fas fa-comment"></i>
  <% end %>
  <%= link_to "Item returned", booking_path(booking, status: 'borrowed'), {class: 'btn btn-success', method: :patch} %>
  <%= link_to "MESSAGE READ", booking_path(booking, response_message_read: true), {class: 'btn btn-primary', method: :patch} %>
<% end %>

<!-- BORROWED -->

<h2>Borrowed</h2>
<h3><%= current_user.bookings.where(status: :borrowed).count %></h3>
<% current_user.bookings.where(status: :borrowed).each do |booking| %>
  <p><%= "Booking ID: #{booking.id}" %></p>
  <p><%= "Item: #{booking.item.name}" %></p>
  <p><%= "User: #{booking.item.user.first_name} #{booking.item.user.last_name}" %></p>
  <p><strong>Your message:</strong></p>
  <p><%= booking.request_message %></p>
  <p><strong>Their message:</strong></p>
  <p><%= booking.response_message %></p>
  <p><%= "#{booking.start_date} to #{booking.end_date}" %></p>
<% end %>

<h2>Lending</h2> <h3>35</h3>


<!-- <div class="tabs">
  <a class="tab active" href="#">
    <h3>350</h3>
    <p>Requested</p>
  </a>
  <a class="tab" href="#">
    <h3>456</h3>
    <p>Borrowing</p>
  </a>
  <a class="tab" href="#">
    <h3>189</h3>
    <p>Borrowed</p>
  </a>
  <a class="tab" href="#">
    <h3>13</h3>
    <p>Lending</p>
  </a>
</div> -->

