<div class="hp-about">
  <div class="hpa-container">
    <div class="hpa-row">
      <div>
      <h2 style="width: 100%;"> A credit based system cultivating a fair and balanced community, enabling people to lend and borrow lesser-used items.</h2>
      </div>
    </div>
     <div class="hpa-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="hpa-text-card">
          <h3 class="hpa-text-card-title"><b> Minimalistic </br> & </br>Economical </b></h3>
         <i class="fas fa-hand-holding-usd"></i>
          <p>Sharing leads to less consumerism helping the environment as you stop spending money on rarely used stored items.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="hpa-text-card">
          <h3 class="hpa-text-card-title"><b> Community Oriented </br> & </br>Convenient </b></h3>
          <i class="fas fa-users"></i>
          <p>Shops all closed? That's ok, borrow it! On your way meet your neighbours through lending and borrowing!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="hpa-text-card">
          <h3 class="hpa-text-card-title"><b> Safe </br>&</br> Trusting</b></h3>
          <i class="fas fa-lock"></i>
          <p>Ratings and reviews builds trust and keeps a well organised, balanced community.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hpa-line"></div>

<div class="hpa-icons-grid">
  <div class="hpa-icons">
    <p>Travel</p>
    <%= image_tag('bag_icon.png', width: '75') %>
  </div>

  <div class="hpa-icons">
    <p>Sport</p>
    <%= image_tag('basket_icon.png', width: '75') %>
  </div>

  <div class="hpa-icons">
    <p>Entertainment</p>
    <%= image_tag('book_icon.png', width: '75') %>
  </div>

  <div class="hpa-icons">
    <p>Electronics</p>
    <%= image_tag('electronic_icon.png', width: '75') %>
  </div>

  <div class="hpa-icons">
    <p>Garden</p>
    <%= image_tag('garden_icon.png', width: '75') %>
  </div>

  <div class="hpa-icons">
    <p>Appliances</p>
    <%= image_tag('iron_icon.png', width: '75') %>
  </div>

  <div class="hpa-icons">
    <p>Tools</p>
    <%= image_tag('tool_icon.png', width: '75') %>
  </div>
</div>
