<% if user_signed_in? %>
  <%= render 'shared/homepage_navbar_signedin' %>
<% else %>
  <%= render 'shared/homepage_navbar' %>
<% end %>

<ul class="smooth-scroll list-unstyled">
<div class="banner smooth-scroll" id="home1" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 50%), url('https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');">
  <div class="banner-content">
    <h1>Borrowbox</h1>
    <p>Stop buying. Start borrowing.</p>
    <div class="searchbar">
      <%= form_tag items_path, method: :get , class: 'form-horizontal col-sm-10', style: "padding-right :0;align :middle" do  %>
        <% if request.location.city.nil? %>
          <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "What do you want to borrow?" %>
        <% else %>
          <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "What do you want to borrow in #{request.location.city}?" %>
          <%#= hidden_field_tag :address, request.location.city %>
        <% end %>
      <%= hidden_field_tag :coordinates %>
      <% end %>
      <%= link_to items_path, class: "btn btn-primary", style: "background-color :#3D9082;border-color :#3D9082" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
    <li>
    <h5><a href="#home2"><i class="fas fa-caret-down"></i></a></h5>
  </li>
  </div>
</div>

<div id="home2" class="smooth-scroll">
  <%= render "about" %>
</div>

<%= render "credits" %>

<%= render "footer" %>

</ul>

