<div class="row">
  <%= simple_form_for [@item, @booking] do |f| %>
  <div class="col-xs-6">
    <%= f.input :start_date, as: :string %>
  </div>
  <div class="col-xs-6">
    <%= f.input :end_date, as: :string %>
  </div>

  <div class="col-xs-12">
    <button type="button" class="btn btn-booking btn-green btn-sm" data-toggle="modal" data-target="<%="#mtl_modal_#{@item.id}" %>">
      Request
    </button>
  </div>
  <%= render 'items/show/message-to-lender', f: f %>
  <% end %>
</div>
