<strong class="booking-dates-title">Dates:</strong>
<div class="booking-form booking-form-borrowbox">
  <div class="row">
    <%= simple_form_for [@item, @booking] do |f| %>
    <div class="col-xs-5">
      <%= f.input :start_date, as: :string, label: false, :input_html => { :class => "bg-white", :placeholder => 'First day' } %>
    </div>
    <div class="col-xs-2">
    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="margin-top: 8px;height: 24px;"><path d="m0 12.5a.5.5 0 0 0 .5.5h21.79l-6.15 6.15a.5.5 0 1 0 .71.71l7-7v-.01a.5.5 0 0 0 .14-.35.5.5 0 0 0 -.14-.35v-.01l-7-7a .5.5 0 0 0 -.71.71l6.15 6.15h-21.79a.5.5 0 0 0 -.5.5z" fill-rule="evenodd"></path></svg>
    </div>
    <div class="col-xs-5">
      <%= f.input :end_date, as: :string, label: false, :input_html => { :class => "bg-white", :placeholder => 'Last day' } %>
    </div>

    <div class="col-xs-12">
      <button type="button" class="btn btn-booking btn-green btn-sm" data-toggle="modal" data-target="<%="#mtl_modal_#{@item.id}" %>">
        Request
      </button>
    </div>
    <%= render 'items/show/message-to-lender', f: f %>
    <% end %>
  </div>
</div>
