<%= link_to item_path(item) do %>
  <div class="item-card-image-container">
    <!-- avatar -->
    <% unless item.user.photo_fake == nil %>
    <div class="card-avatar avatar-image position-absolute z-index-ten" style="background-image:url(<%= item.user.photo_fake %>)"></div>
    <% else %>
    <div class="card-avatar position-absolute z-index-ten" style="background-image: url(<%= cl_image_path item.user.photo %>)"></div>
    <% end %>
    <!-- item photo -->
    <div class="mapbox-card-image" style="background-image: url(<%= item.photo_fake %>)"></div>
  </div>
  <div class="item-card-lender" style="text-align: left">
    <p><%= item.user.first_name %>'s</p>
  </div>
  <div class="item-card-name" style="text-align: left">
    <h5><%= item.name %></h5>
  </div>
  <div class="item-card-footer">
    <div class="card-rating-box">
      <h6><i class="fas fa-star"></i><%= item.rating.round(1) %></h6>
    </div>
    <div class="card-credits-box">
      <h6><i class="fab fa-cuttlefish"></i><%= item.credits %></h6>
    </div>
  </div>
<% end %>
