<div class="row">
  <%= form_tag items_path, method: :get do %>
  <div class="col-xs-12 form-group font-sm">
    <label for="item">Item</label>
    <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "What are you looking for?" %>
  </div>
  <div class="col-xs-12 form-group font-sm margin-boost">
    <label for="location">Location</label>
    <%= text_field_tag :address, params[:address], class: "form-control", placeholder: "Where are you searching?" %>
  </div>
  <div class="col-xs-5 form-group font-sm margin-boost">
    <label for="start-date">Between</label>
    <%= date_field_tag :start_date, params[:start_date], class: "form-control bg-white", id: 'booking_start_date', :placeholder => 'Earliest' %>
    </div>
    <div class="col-xs-2 form-group font-sm">
    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="margin-top: 38px"><path d="m0 12.5a.5.5 0 0 0 .5.5h21.79l-6.15 6.15a.5.5 0 1 0 .71.71l7-7v-.01a.5.5 0 0 0 .14-.35.5.5 0 0 0 -.14-.35v-.01l-7-7a .5.5 0 0 0 -.71.71l6.15 6.15h-21.79a.5.5 0 0 0 -.5.5z" fill-rule="evenodd"></path></svg>
    </div>

  <div class="col-xs-5 form-group font-sm margin-boost">
    <label for="end-date"> </label>
    <%= date_field_tag :end_date, params[:end_date], class: "form-control bg-white", id: 'booking_end_date', :placeholder => 'Latest' %>
  </div>
  <div class="col-xs-12 form-group font-sm margin-boost">
    <label for="max-credits">Max credits</label>
    <%= number_field_tag :max_credits, params[:max_credits], class: "form-control", placeholder: "Max Credits", autofocus: true %>
  </div>
  <div class="col-xs-12 form-group font-sm margin-boost">
    <label for="max-distance">Max distance</label>
    <%= number_field_tag :max_distance, params[:max_distance], class: "form-control", placeholder: "Kilometers" %>
  </div>
  <div class="col-xs-12 rating-box">
    <!-- <div class="rating-box"> -->
      <fieldset class="rating">
        <%= radio_button_tag :min_rating, "5", params[:min_rating] == "5" %>
        <%= label_tag 'min_rating_5', '', class: "full" %>
        <%= radio_button_tag :min_rating, "4", params[:min_rating] == "4" %>
        <%= label_tag 'min_rating_4', '', class: "full" %>
        <%= radio_button_tag :min_rating, "3", params[:min_rating] == "3" %>
        <%= label_tag 'min_rating_3', '', class: "full" %>
        <%= radio_button_tag :min_rating, "2", params[:min_rating] == "2" %>
        <%= label_tag 'min_rating_2', '', class: "full" %>
        <%= radio_button_tag :min_rating, "1", params[:min_rating] == "1" %>
        <%= label_tag 'min_rating_1', '', class: "full" %>
      </fieldset>
      <a href="#" id="clear-button">Clear</a>
    <!-- </div> -->
  </div>
  <%= hidden_field_tag :coordinates %>
  <div class="col-xs-12">
    <button type="submit" class="btn btn-filter btn-green btn-sm" style="width: 100%; margin: 0px;">Filter</button>
  </div>
  <% end %>
</div>

