<%= render 'shared/navbar' %>

<div class="wrapper">

  <div class="container">
    <div class="index-grid">
      <div class="filter-area">
        <div class="filter-form">
          <%= render 'items/search_form' %>
        </div>
      </div>
      <div class="map-area">
        <%= render '/items/items_map' %>
      </div>
      <%= render "/items/cards" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "user-location" %>

<% content_for :title, "Borrowbox - Search" %>
