<%= render 'shared/navbar' %>

<div class="wrapper">
  <div class="container">
    <div class="index-grid">
      <div class="filter-area">
        <div class="filter-form">
          <%= render 'items/search_form' %>
        </div>
      </div>
      <div id="map-area" class="map-area">
        <div
        id="map"
        style="width: 100%;
        height: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
      <%= render "/items/cards" %>
    </div>
  </div>
</div>

