<%= render 'shared/navbar' %>

<div class="wrapper">
  <div class="container">
    <div class="grid">
      <%= render 'items/show/picture-frame' %>
      <%= render 'items/show/item-info-and-description.html' %>
      <%= render 'items/show/item-rating' %>
      <div class="item-reviews">
        <% @item.reviews.order(created_at: :desc).each do |review| %>
          <%= render 'items/show/review', review: review %>
        <% end %>
      </div>
      <%= render '/items/show/show_map' %>
      <!-- calendar -->
      <div class="item-calendar">
        <div class="booking-form booking-form-borrowbox">
          <% if @item.user != current_user %>
            <%= render '/items/show/booking_form' %>
          <% else %>
            <div class="delete-item">
              <%= link_to "Delete this item", item_path(@item), class: "btn btn-lightgray btn-delete", method: :delete %>
            </div>
            <!-- <button class="btn btn-green btn-delete">Delete item</button> -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "map" %>
