<%= render 'shared/navbar' %>

<div class="wrapper">
  <div class="container">
    <div class="grid">
      <%= render 'items/show/picture-frame' %>
      <%= render 'items/show/item-info-and-description.html' %>
      <%= render 'items/show/item-rating' %>
      <div class="item-reviews">
        <% @item.reviews.order(created_at: :desc).each do |review| %>
          <%= render 'items/show/review', review: review %>
        <% end %>
      </div>
      <%= render '/items/show/show_map' %>
      <!-- calendar -->
      <div class="item-calendar">
          <%= render '/items/show/booking_form' %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "map" %>
