<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Be part of a peer-to-peer community, rent and lend lesser used items in your neighbourhood and share your experiences on a trustbased platform. Stop buying. Start borrowing.">


    <meta property="og:title" content="Borrowbox">
    <meta property="og:site_name" content="Borrowbox | Stop Buying. Start Borrowing.">
    <meta property="og:description" content="Be part of a peer-to-peer community, rent and lend lesser used items in your neighbourhood and share your experiences on a trustbased platform. Stop buying. Start borrowing.">
    <meta property="og:image" content="https://res.cloudinary.com/drbug2j3g/image/upload/v1545305878/og_image_borrowbox.jpg">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <% if yield(:title).empty? %>
      <title>Borrowbox</title>
    <% else %>
      <title><%= yield(:title)%></title>
    <% end %>



    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_pack_tag "map" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'user-location' %>
  </body>
</html>
